.project-img2 {
    width: 240px;
    height: 240px;
    border-radius: 2rem;
    border: 2px solid rgb(163, 163, 163);
}

.details-container2 {
    padding: 1.5rem;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.about-containers2 {
    
}